.bag_container {
    position: relative;
    margin-top: 2.8rem;
}



.slider-bag_image {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.bag_description {
    position: relative;
    padding: 15rem;
}

.bag_heading {
    color: #173425;
    font-size: 4rem;
}

.bag_SubHeading {
    color: #173425;
    font-size: 1.5rem;
}